@*
    View є як partial view тому що саме нічого не відображає.
*@
@{
    ViewData["Title"] = "Logout";
}

<div>
    <form method="post" asp-action="Logout">
        <button type="submit">Logout</button>
    </form>
</div>