@{      ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="text-center text-hide ">
        <br />
        <h1>Welcome to my Storage</h1>
    </div>
   
</body>
</html>

